<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/footer.css">
  <title>Document</title>
</head>
<body>
  <footer style="background-color: #333;">
    <section class="footer_s_1" style="padding-top: 60px;">
      <div class="container_columns_s">
        <div class="columns_s">
          <h3 style="color: white;margin-bottom: 20px;">CANADA</h3>
          <p style="margin-bottom: 20px;">
            Saskatchewan Office
            <br>
            Phone: +1 306 491 8799
            <br>
            E-mail: info@qntdata.com
          </p>
          <p style="margin-bottom: 20px;">
            Saskatchewan Office
            <br>
            Phone: +1 306 491 8799
            <br>
            E-mail: info@qntdata.com
          </p>
          <h3 style="margin-bottom: 20px;">US</h3>
          <p>
            US Office
            <br>
            Phone: +1 858 258 3151
            <br>
            E-mail: info.us@qntdata.com
          </p>
        </div>
      </div>
      <!-- columns 2 -->
      <div class="container_columns_s">
        <div class="columns_s">
          <h3 style="color: white;margin-bottom: 20px;">CANADA</h3>
          <p style="margin-bottom: 20px;">
            Saskatchewan Office
            <br>
            Phone: +1 306 491 8799
            <br>
            E-mail: info@qntdata.com
          </p>
          <p style="margin-bottom: 20px;">
            Saskatchewan Office
            <br>
            Phone: +1 306 491 8799
            <br>
            E-mail: info@qntdata.com
          </p>
        </div>
      </div>
      <!-- columns 3 -->
      <div class="container_columns_s">
        <div class="columns_s">
          <h3 style="color: white;margin-bottom: 20px;">CANADA</h3>
          <p style="margin-bottom: 20px;">
            Saskatchewan Office
            <br>
            Phone: +1 306 491 8799
            <br>
            E-mail: info@qntdata.com
          </p>
          <p style="margin-bottom: 20px;">
            Saskatchewan Office
            <br>
            Phone: +1 306 491 8799
            <br>
            E-mail: info@qntdata.com
          </p>
        </div>
      </div>
      <!-- columns 4 -->
      <div class="container_columns_s">
        <div class="columns_s_rencent_post">
          <h3 style="color: white;margin-bottom: 20px;">RECENT POST</h3>
          <ul class="footer_list_posts">
            <li>
              <a href="">
                <img
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2020/02/blog-State-of-AI-in-HR_1-78x78.jpg"
                  alt="" width="50px" height="50px">
                <div>
                  <span style="color: white;">State of AI in HR</span>
                  <br>
                  <span style="color: rgb(187, 186, 186);">February 12, 2020</span>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <img
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-4-78x78.jpg"
                  alt="" width="50px" height="50px">
                <div>
                  <span style="color: white;">Overview of blockchain and bitcoin (Part 4)</span>
                  <br>
                  <span style="color: rgb(187, 186, 186);">February 12, 2020</span>
                </div>
              </a>
            </li>
            <li>
              <a href="">
                <img
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-3-78x78.jpg"
                  alt="" width="50px" height="50px">
                <div>
                  <span style="color: white;">Overview of blockchain and bitcoin (Part 3)</span>
                  <br>
                  <span style="color: rgb(187, 186, 186);">September 8, 2019</span>
                </div>
              </a>
            </li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="footer_end">
      <p style="color: rgb(181, 177, 177);">
        <span>
          <img src="https://seal.godaddy.com/images/3/en/siteseal_gd_3_h_d_m.gif" alt="" width="131px" height="32px">
        </span>
        <span> Copyright © 2020 <a href="https://qntdata.com" style="color: white;">QT-Data Inc. </a>
          <span>Canada. All rights reserved.</span> </span>
  
      </p>
      <ul class="list_social">
        <li>
          <a href=""><i class="fa fa-facebook-f" style="font-size:16px"></i>
          </a>
        </li>
        <li>
          <a href=""><i class="fa fa-twitter" style="font-size:16px"></i>
          </a>
        </li>
        <li>
          <a href=""><i class="fa fa-linkedin" style="font-size:16px"></i>
          </a>
        </li>
        <li>
          <a href=""><i class="fa fa-google	" style="font-size:16px"></i>
          </a>
        </li>
      </ul>
    </section>
  </footer>
</body>
</html>