<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

</head>
<body>
    <div id="main-header" style="z-index: 100;">
      <section class="main-header">
        <div class="header-nav">
          <div class="logo">
            <a href="">
              <img
                src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/08/header-logo.png"
                alt="">
            </a>
          </div>
          <div class="container-menu">
            <nav class="menu">
              <ul class="muitile-menu">
                <li class="hover-dropmenu">
                  <a href="" class="show-menu">
                    <span>Company</span>
                    <span></span>
                  </a>
                  <ul class="dropmenu">
                    <li>
                      <a href="">
                        <span>Team</span>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <span>Careers Opportunity</span>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <span>Partnerships</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="hover-dropmenu">
                  <a href="" class="show-menu">
                    <span>Solutions</span>
                    <span></span>
                  </a>
                  <ul class="dropmenu solution">
                    <li>
                      <h3 style="margin-bottom: 20px;">
                        <a href="">QT-CORES</a>
                      </h3>
                      <ul>
                        <li><a href="">Hospitality</a></li>
                        <li><a href="">Trading System</a></li>
                        <li><a href="">Consumer Lending & Mortgage</a></li>
                      </ul>
                    </li>
                    <li>
                      <h3 style="margin-bottom: 20px;"><a href="">QT-AI & QT-INVEST</a></h3>
                      <ul>
                        <li><a href="">Sale OTA</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>QT-Community</li>
                <li class="hover-dropmenu">
                  <a href="" class="show-menu">
                    <span>Forums</span>
                    <span></span>
                  </a>
                  <ul class="dropmenu">
                    <li>
                      <a href="">
                        <span>QT-Forums</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="hover-dropmenu">
                  <a href="" class="show-menu">
                    <span>Resources</span>
                    <span></span>
                  </a>
                  <ul class="dropmenu resources">
                    <li class="resources_left_post">
                      <ul>
                        <li><a href="">QT Blogs</a></li>
                        <li><a href="">Contact Us</a></li>
                      </ul>
                    </li>
                    <li class="resources_right_post">
                      <ul>
                        <li>
                          <h3 style="padding-bottom: 20px;">
                            <a href="">
                              Trí tuệ nhân tạo trong quản trị nguồn nhân lực.
                            </a>
                          </h3>
                          <p style="color:white;">Trí tuệ nhân tạo đang đưa con người và máy móc lại gần nhau hơn. Thật thú
                            vị! Ảnh hưởng của AI
                            đang được cảm nhận trong
                            toàn bộ lĩnh vực...
                          </p>
                        </li>
                        <li>
                          <a href="">
                            <img
                              src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2020/02/blog-State-of-AI-in-HR_1.jpg"
                              alt="image" width="240px" height="160px">
                            <p style="color: white;">State of AI in HR</p>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <img
                              src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-4-560x356.jpg"
                              alt="image" width="240px" height="160px">
                            <p style="color: white;">Overview of blockchain and bitcoin (Part 4)</p>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>Shop</li>
                <li>Account</li>
              </ul>
            </nav>
            <div class="moblie">
              <span class="fa fa-bars" id="bar" style="font-size:24px">
              </span>
              <ul class="menu-services">
                <li>
                  <a href="">
                    <span class="fa fa-search" style="font-size:20px"></span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <span class="fa fa-shopping-cart	
    " style="font-size:20px"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <div class="main-header_mobile" id="main-header_mobile" style="overflow:scroll; height:calc(100vh - 92px);">
        <nav class="menu_mobile">
          <ul class="muitile-menu_mobile">
            <li class="wrap-toggle">
              <a href="">
                Company
              </a>
              <span class="toggle"></span>
              <ul class="dropmenu_mobile">
                <li><a href="">Team</a></li>
                <li><a href="">Careers Opportunity
                  </a></li>
                <li><a href="">Partnerships</a></li>
              </ul>
            </li>
            <li class="wrap-toggle">
              <a href="">
                Solutions
              </a>
              <span class="toggle"></span>
              <ul class="dropmenu_mobile">
                <li class="wrap-toggle">
                  <a href="">
                    QT-CORES
                  </a>
                  <span class="toggle"></span>
                  <ul class="dropmenu_mobile">
                    <li><a href="">Hospitality</a></li>
                    <li><a href=""> Trading System</a></li>
                    <li><a href="">Consumer Lending & Mortgage</a></li>
                  </ul>
                </li>
                <li class="wrap-toggle">
                  <a href="">
                    QT-AI & QT-INVEST
                  </a>
                  <span class="toggle"></span>
                  <ul class="dropmenu_mobile">
                    <li><a href="">Sale OTA</a></li>
    
                  </ul>
                </li>
              </ul>
            </li>
    
            <li class="wrap-toggle">
              <a href="">
                QT-Community
              </a>
            </li>
            <!-- <li class="wrap-toggle">
              <a href="">
                Forums
              </a>
              <span class="toggle"></span>
              <ul class="dropmenu_mobile">
                <li><a href="">QT-Forum<a>
                <li>
              </ul>
            </li> -->
            <li class="wrap-toggle">
              <a href="">
                Forums
              </a>
              <span class="toggle"></span>
              <ul class="dropmenu_mobile">
                <li><a href="">QT-Forum</a></li>
              </ul>
            </li>
            <!-- resource -->
            <li class="wrap-toggle">
              <a href="">
                Resources
              </a>
              <span class="toggle"></span>
              <ul class="dropmenu_mobile resources_mobile">
                <li><a href="">QT Blogs</a></li>
                <li><a href="">Contact Us</a></li>
                <li>
                  <ul class="resources_mobile_menu">
                    <li>
                      <h5><a style="color: white;" href="">Trí tuệ nhân tạo trong quản trị nguồn nhân lực.</a></h5>
                      <p style="color:white;">Trí tuệ nhân tạo đang đưa con người và máy móc lại gần nhau hơn. Thật thú vị!
                        Ảnh hưởng của AI
                        đang được cảm nhận trong
                        toàn bộ lĩnh vực...
                      </p>
                    </li>
                    <li>
                      <a href="">
                        <img class="size_resource_img"
                          src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2020/02/blog-State-of-AI-in-HR_1.jpg"
                          alt="">
                        <h3 style="color: white;">State of AI in HR</h3>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img class="size_resource_img"
                          src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-4-560x356.jpg"
                          alt="">
                        <h3 style="color: white;">
                          Overview of blockchain and bitcoin (Part 4)</h3>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
</body>
<script src="/js/navigation.js"></script>
<script>
  // window.onscroll = function () { myFunctionIndex() };
  window.addEventListener('scroll', function () {
    if (window.pageYOffset > menuScroll) {
      menu.classList.add("sticky");
    } else {
      menu.classList.remove("sticky");
    }  });
  var menu = document.getElementById("main-header");
  console.log(menu)
  var menuScroll = menu.offsetTop;

  // function myFunctionIndex() {
  //   if (window.pageYOffset > menuScroll) {
  //     menu.classList.add("sticky");
  //   } else {
  //     menu.classList.remove("sticky");
  //   }
  // }
</script>
</html>