.header-solution {
    background: #262626;
    height: 90px;
}

.header-solution h3 {
    padding-bottom: 24px;
    padding-top: 24px;
    margin: 0px;
    font-size: 24px;
    color: #ffffff;
}

.tile {
    margin: 0px;
    padding: 0px;
    color: blue;
}

.menu {
    padding-top: 26px;
    padding-bottom: 26px;
}

.menu a {
    font-size: 14px;
    color: #000;
}
.text-top1 {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 13px;
}
.text-top1 p {
    color: #0000ff;
    opacity: 0.6;
}
.text-top1 button {
    background: #008000;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    opacity: 0.6;
    border-width: 0px;
    color: #ffffff;
}
.text-top1 button:hover {
    background: #008000;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    opacity: 0.7;
    border-width: 0px;
}
.text-top2 p {
    font-size: 15px;
}
.aaa  {
    margin-top:  55px;
}
.animation-left1 {
    position: relative;
    animation: goright 2s;
}
.animation-right1 {
    position: relative;
    animation: goleft 2s;
}
.animation-left2 {
    position: relative;
    animation: goright 3s;
    /* animation-delay: 2; */
}
.animation-right2{
    position: relative;
    animation: goleft 3s;
    /* animation-delay: 2; */
}
.animation-left3 {
    position: relative;
    animation: goright 4s;
    /* animation-delay: 2; */
}

.animation-right3 {
    position: relative;
    animation: goleft 4s;
    /* animation-delay: 2; */
}
.animation-left4 {
    position: relative;
    animation: goright 5s;
    /* animation-delay: 2; */
}

.animation-right4 {
    position: relative;
    animation: goleft 5s;
    /* animation-delay: 2; */
}
@keyframes goleft {
    from {
        right: -400px;
    }

    to {
        right:  0px;
    }
}
@keyframes goright {
  from {left: -400px;}
  to {
      left: 0px;
  }
}
