* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

.block {
  display: block;
}

.blackWord {
  color: #bbbbbb;
}

.mg_bottom_15 {
  margin-bottom: 15px;
  margin-top   : 15px;
}

.red {
  color: red;
}

.link_orange {
  color     : #f28728;
  margin-top: 10px;
}

.link_orange:hover {
  text-decoration: underline;
  cursor         : pointer;
}

.content {
  background-color: #fafafa;
}

.container_header_blog {
  background-color: rgb(69, 69, 69);
}

.container-title {
  max-width      : 1110px;
  margin         : 0 auto;
  display        : flex;
  justify-content: space-between;
}



.container-title a {
  text-decoration: none;
}

.container-title a:hover {
  text-decoration: underline;

}

.container-title>h1 {
  padding: 24px 0px 24px 20px;
  color  : white;
}

.container-title>p {
  padding: 38px 20px 38px 0px;
  color  : white;
}

.container-title>p>a {
  color: white;
}

.container-title>p>span>a>span {
  color: rgb(187, 187, 187);
}

.container-title>p>span>a>span:hover {
  color: white;
}
/* content */
.content {
  margin: auto;
  max-width: 1020px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.content_left {
  flex: .7;
}
/* start article */
.post>p {
  margin-bottom: 20px;
}

.post>h3 {
  margin-bottom: 20px;
}

/* end article */

/* start socail */
.social {
  display: flex;
}

.social>li {
  list-style   : none;
  margin-right : 10px;
  margin-bottom: 10px;
}

.social>li>span {
  cursor          : pointer;
  display         : inline-block;
  padding         : 10px 15px;
  background-color: rgb(226, 226, 226);
}

.social>li:nth-child(1)>span:hover {
  background-color: #3b5998;
}

.social>li:nth-child(2)>span:hover {
  background-color: #40bff5;
}

.social>li:nth-child(3)>span:hover {
  background-color: #d44132;
}

.social>li:nth-child(4)>span:hover {
  background-color: #cd2b30;
}

/* end socail */
.posts {
  margin-bottom: 43px;
}

.post-author {
  display      : flex;
  align-items  : center;
  background   : #fff;
  border       : none;
  border-left  : 4px solid #f1a737;
  box-shadow   : 0 0 10px #f2f2f2;
  padding      : 40px;
  margin       : 0 0 2em;
  margin-bottom: 43px;
}

.post-author>img {
  border-radius: 50%;
  margin-right : 10px;
}

/* post related */
.related .posts {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
}

.related>h3 {
  margin-bottom: 43px;
}

.related .posts>a {
  display: inline-block;
  width  : 100%;
}

.related .posts>.item {
  padding-right: 15px;
  width        : 33%;
}

.related .posts>.item>a>div>img {
  width: 100%;
}

/* start comments */
.commentList .comment {
  display      : flex;
  margin-bottom: 20px;
}

.commentList .comment>img {
  border-radius: 50%;
  width        : 50px;
  height       : 50px;
  margin-right : 10px;
}

/* start Form comment */

.comment-title {
  margin-bottom: 15px;
}

.form-comment>p {
  margin-bottom: 25px;
}

.form-comment>label {
  margin-bottom: 15px;
}

#comment {
  border-color: #ddd;
}

.form-comment>ul {
  list-style: none;
  display   : flex;
  flex-wrap : wrap;
}

.form-comment>ul>li {
  width    : 32%;
  min-width: 200px;
}

.form-comment>ul>li>label {
  display: block;
}

.form-comment>ul>li>input {
  display: inline-block;
  padding: 5px 9px;
  border : 1px solid #ddd;
  width  : 90%;
}

textarea {
  width: 100%;
}

#submit_form {
  background-color: #555555;
  color           : white;
  padding         : 10px;
}
.content_right {
  flex: .25;
  margin-top: 2.8rem;
}

.input {
  border-radius: 0px;
  border: 10px saddlebrown;
  max-width: 255px;
  box-shadow: rgba(32, 33, 36, .28);
  position: relative;
  margin-top: 0 !important;
}

.input>input {
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 40px;
  padding-left: 0px;
  width: 100%;
  height: 24px;
  padding: 5px 7px;
  border-radius: 3px;
  box-sizing: border-box;

}

.input>i {
  position: absolute;
  top: 3px;
  right: 5px;
  z-index: 111;
}

.recent_posts>li {
  margin-top: 10px;
}

.recent_posts>li>a {
  color: #f28728;
  cursor: pointer;
}

.recent_posts>li>a:hover {
  text-decoration: underline;
}

.container_recent_comments {
  margin-top: 43px;
}

.recent_comments {
  list-style: none;
}

.recent_comments>li {
  margin-top: 10px;
}

.recent_comments>li>a {
  color: #f28728;
  cursor: pointer;
}

.recent_comments>li>a:hover {
  text-decoration: underline;
}

.recent_comments>li>span {
  color: rgb(187, 185, 185);
}

.list_archives {
  list-style: none;
}

.list_archives>li {
  color: #f28728;
  margin-top: 10px;
}

.list_archives>li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.archives {
  margin-top: 40px;
}

.recent_post_2 {
  margin-bottom: 43px;
}

.recent_post_2>ul>li {
  display: flex;
}

.recent_post_2>ul>li>a>img {
  margin-right: 15px;
  margin-bottom: 24px
}

.recent_post_2>ul>li>p>a {
  color: #f28728;
}

.recent_post_2>ul>li>p>a:hover {
  text-decoration: underline;
}

.about_us>h3 {
  margin-bottom: 16px;
}

.about_us>p {
  margin-bottom: 16px;
}

.works_stream {
  margin-bottom: 43px;
}

.works_stream>ul {
  display: flex;
  flex-wrap: wrap;
}

.works_stream>ul>li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.twitter>h3 {
  font-size: 17px;
  color: rgb(204, 202, 202);
  margin-bottom: 12px;
}

.twitter>h3>span {
  margin-right: 7px;
}

.twitter>ul>li>a {
  display: block;
  margin-bottom: 10px;
}

.pinterest {
  margin-bottom: 43px;
}

.pinterest>ul {
  display: flex;
  flex-wrap: wrap;
}

.pinterest>ul>li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.calendar {
  margin-top: 43px;
}

.calendar>h3 {
  margin-bottom: 16px;
}

.calendar>p {
  margin-bottom: 10px;
}

.calendar>img {
  max-width: 250px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 43px;
}

.tags>a {
  display: inline-block;
  padding: 2px 8px;
  background-color: white;
  border-radius: 2px;

  margin-bottom: 6px;
  margin-right: 2px;
  border: 1px solid #bbbaba;
}

.recent_cmt_default {
  margin-bottom: 43px;
}

.archive_2 {
  max-width: 255px;
  margin-top: 38px;
  margin-bottom: 43px;
}

.archive_2>span {
  display: inline-block;
  margin-bottom: 30px;
}

.recent_comments_custom {
  margin-bottom: 43px;
}

.recent_comments_custom>span {
  display: block;
  margin-bottom: 15px;
}


.recent_comments_custom>ul>li>img {
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}

.recent_comments_custom>ul>li>p>span {
  color: #bbbaba;
}

.recent_comments_custom>ul>li {
  clear: both;
  margin-bottom: 30px;
}

.recent_comments_custom>ul>li>p>a {
  color: #f28728;
}

/* according */
h1 {
  /* text-align: center; */
  margin: 2rem 0;
  font-size: 2.5rem;
}

.accordion {
  width: 90%;
  /* max-width: 1000px;
  margin      : 2rem auto; */
}

.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  /* border-radius   : 0.5rem; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 1rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  /* border-top  : 1px solid; */
  /* border-image: linear-gradient(to right, transparent, #34495e, transparent) 1; */
}

/* Tabs layout */

.tabContainer {
  width: 100%;
  height: 350px;
}

.tabContainer .buttonContainer {
  height: 15%;
}

.tabContainer .buttonContainer button {
  width: 33.33%;
  height: 100%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-family: sans-serif;
  font-size: 18px;
  background-color: #eee;
}

.tabContainer .buttonContainer button:hover {
  background-color: #d7d4d4;
}

.tabContainer .tabPanel {
  padding: 15px;
  background-color: gray;
  color: white;
  text-align: justify;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  display: none;
}

@media (max-width:800px) {
  .related .posts>.item {
    width: 50%;
  }

  .container-title {
    box-sizing     : border-box;
    flex-direction : column-reverse;
    align-items    : center;
    justify-content: center;

    padding-left : 15%;
    padding-right: 15%;
  }

  .container-title>h1 {
    padding       : 0;
    padding-bottom: 10px;
  }
.container-title>p{
  padding-bottom: 10px;
}

@media (max-width:600px) {
  .related .posts>.item {
    width: 100%;
  }
}

@media (max-width:480px) {
  .form-comment>ul>li {
    width: 100%;
  }
}
@media(max-width:800px) {
  html {
    font-size: 14px;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .content_left,
  .content_right {
    margin-left: 10%;
    margin-right: 10%;
  }

  .calendar>img {
    width: 100%;
  }
}