<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/hospitality_css.css" />
  <script src="/css/uikit.min.css"></script>
  <script src="/js/uikit-icons.min.js"></script>
  <script src="/js/uikit.min.js"></script>
  <title>Hospitality</title>
</head>

<body>
        <%- include('../partials/navigation'); %>

  <div class="header" uk-grid>
    <div class="uk-width-4-5 uk-margin-auto" uk-grid>
      <div class="tile uk-width-1-3">
        <h3><b>Hospitality</b></h3>
      </div>
      <div class="menu uk-width-2-3 uk-text-right">
        <a>Home</a><span>/</span><a>Hospitality</a>
      </div>
    </div>
  </div>
  <div class="section" uk-grid>
    <div class="uk-margin-auto uk-width-4-5 text-top1">
      <div class="uk-text-center">
        <h1><b>AI-Powered Operation<br /> Management System</b></h1>
        <h4><b>An automated system, save your costs and boost your revenue.</b></h4>
        <p>
          Easy to use functions. Interactive reports. Create efficiency. Manage your staff
          productivity.<br />
          In-depth investigate your revenue opportunity and manage your operation costs at the
          departmentlevel.
        </p>
        <button id="">Request A Demo</button>
      </div>
      <div class="aaa">
        <div class="uk-child-width-1-2@s" uk-grid>
          <div class=" animation-left1">
            <Img src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/hospitality_001.jpg" />
          </div>
          <div class="text-top2  animation-right1">
            <h3 class="uk-card-title">Revenue Management</h3>
            <p>Based on that, you can make the right pricing strategy, well-prepared Feeding our forecasting
              algorithms with high-level trending techniques, we confidently bring you the highest
              accuracy you ever reach before, and we believe it will benefit your business far beyond your
              imagination, from the pricing strategy to the cost-effective plans in your operation
              management.</p>
            <p>Besides that, you will love our feature: Multiple Revenue-Generating Factors Detection, which
              helps you to make the best plan for your revenue strategy.</p>
          </div>
        </div>
        <div class="uk-child-width-1-2@s" uk-grid>
          <div class="text-top2 animation-left2">
            <h3 class="uk-card-title">Labor Management</h3>
            <p>Centralize and streamline your labor cost management job with the lesser your effort but
              better your staff productivity performance.</p>
            <p>The function completely supports operation managers in order to achieve the cost target.
              Estimating workload demand will be done automatically for a specific day in the future, then
              the actionable decisions will be suggested based on your financial targets.</p>
          </div>
          <div class="animation-right2">
            <Img src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/hospitality_002.jpg" />
          </div>
        </div>
        <div class="uk-child-width-1-2@s" uk-grid>
          <div class=" animation-left3">
            <Img src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/hospitality_003.jpg" />
          </div>
          <div class=" text-top2 animation-right3">
            <h3 class="uk-card-title">Food Cost Management</h3>
            <p>There is no doubt that food cost control is a significant priority for any food and beverage
              operation. By using cost-control technology, F&B managers can achieve the food cost target
              with minimal effort.</p>
            <p>The system provides real-time monitoring and automatic recommendation in action with respect
              to fluctuate daily demand. Our use cases shows that food cost has dropped more than 300,000$
              after 12 months implementation.</p>
          </div>
        </div>
        <div class="uk-child-width-1-2@s" uk-grid>
          <div class=" text-top2 animation-left4">
            <h3 class="uk-card-title">Hotel Quality Management</h3>
            <p>Leverage data from OTA reviews and hotel available data, this function identifies the
              hotel’s issues and provides actions based on what-if scenarios analysis to manage Guest
              Experiences, Hotel Quality & Reputation.</p>
          </div>
          <div class=" animation-right4">
            <Img src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/hospitality_004.jpg" />
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
<%- include('../partials/footer'); %>
</html>