<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/qt-community.css">
  <title>Document</title>
</head>

<body>
    <%- include('../partials/navigation'); %>
    <div class="container_header_blog">
      <div class="container-title">
        <h1 style="margin:0px">QT-Community</h1>
        <p class="">
          <span>
            <a href="#">
              <span>
                Home
              </span>
            </a>
            <span>
              /
            </span>
          </span>
    
          QT-Community
        </p>
      </div>
    </div>
  <section class="content">
    <h4><a href=""
        style="display: inline-block; color: #d86d0e;font-size: 18px;text-decoration: none;padding-bottom: 10px;margin-top: 20px;">
        >>Make a donate to support our work<< </a>
    </h4>
    <h1 style="padding-bottom: 20px;">Send us your question now!</h1>
    <p class="header_details">As an African proverb says: “If you want to go fast, go alone; if you want to go far, go
      together”. QT-Community
      will
      assist you in providing solutions to Excel, Quant and Analytics. Connecting with us gives you the opportunity to
      solve
      your problems and get a better performance.</p>
    <p>Feel free to contact us by completing the form below. We will send you our solution as soon as possible !
    </p>
    <section class="container-form">
      <div class="content-form">
        <div>
          <label for="first_name"><strong>First name*</strong> </label>
          <input type="text" placeholder="Selena">
        </div>
        <div>
          <label for="first_name"><strong>First name*</strong> </label>
          <input type="text" placeholder="Selena">
        </div>
        <div>
          <label for="first_name"><strong>First name*</strong> </label>
          <input type="text" placeholder="Selena">
        </div>
        <div>
          <label for="first_name"><strong>First name*</strong> </label>
          <input type="text" placeholder="Selena">
        </div>
        <div>
          <label for="first_name"><strong>First name*</strong> </label>
          <input type="text" placeholder="Selena">
        </div>
        <div>
          <label for="textarea" style="flex:100%;padding-bottom: 10px;">Please describe your question here*</label>
          <textarea name="textarea" id="textarea" rows="10" style="width:95%"></textarea>
        </div>
        <label for="choose_file"
          style="padding: 5px 5px; border: 2px solid rgb(214, 214, 214);border-radius: 3px;margin-bottom: 20px;display: inline-block;">Choose
          file</label>
        <input name="choose_file" type="file" id="choose_file" value="Choose file"
          style="display:none; padding:35px 5px;">
        <p style="margin-bottom: 10px;">How Did You Hear About Us?</p>
        <select name="" id="" style="width:70%;padding:7px;border: 2px solid rgb(213, 211, 211);border-radius: 3px;">
          <option value="Google Search" default>Google Search</option>
          <option value="Facebook">Facebook</option>
          <option value="Linkedin">Linkedin</option>
          <option value="Other">Other</option>
        </select>
        <br>
        <br>
        <input type="submit" value="SUBMIT"
          style="padding: 10px 15px;background-color: #f28728;border: none;color: white;font-weight: bold;cursor: pointer;margin-bottom: 15px;">
        <h3 style="margin-bottom: 15px;">QT- Community Members</h3>
        <p style="margin-bottom: 15px;">(helping to solve problems)</p>
        <ul class="help_solve">
          <li>QT-Research</li>
          <li>QT-Research</li>
          <li>QT-Research</li>
        </ul>
      </div>

      <div class="example_form" style="margin-bottom: 50px;">
        <h3 style="padding-bottom: 20px;">Example</h3>
        <p style="padding-bottom: 20px;">I want to detect the change points of stock return to build my trading model in
          Excel. Then I submit the
          question to
          QT-Community.</p>
        <p><img style="width: 80%;"
            src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2020/02/example_community_001-540x650.png"
            alt=""></p>
        <p style="margin:20px;">The answer is sent to my email with a file code with VBA in Excel and tutorial so that I
          can implement it.
          The result is
          shown below.</p>
        <a style="color: #f28728;text-decoration: none;display: inline-block ;margin-bottom: 20px;" href="changepoint.xlsm">changepoint.xlsm</a>
        <p><img style="width: 80%;"
            src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2020/02/example_community_002.png"
            alt=""></p>
      </div>
    </section>
  </section>
          <%- include('../partials/footer'); %>

</body>

</html>