<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/qt-forum.css">
</head>

<body>
  <%- include('../partials/navigation'); %>
  <table id="productSizes" class="table" style="max-width: 910px; margin: auto;">
    <thead  >
      <tr class="d-flex" >
        <th class="col-5" style="background-color: #f3f3f3;">Topic</th>
        <th class="col-1" style="background-color: #f3f3f3;text-align: center;">Voices</th>
        <th class="col-1" style="background-color: #f3f3f3;text-align: center;">Posts</th>
        <th class="col-3" style="background-color: #f3f3f3;text-align: center;">Last Post</th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex" >
        <td class="col-5" id="one">
          <p style="margin-bottom: 0;">Blockchain</p>
          <p >Started by: <a href="" style="color: unset;" ><span ><img style="display: inline-block;padding-bottom: 3px;padding-right: 3px;" src="https://secure.gravatar.com/avatar/109b2e55020d62f76560742a17a51410?s=14&d=mm&r=g" alt=""></span><span>Selena.ltht</span></a></p>
        </td>
        <td class="col-1" style="text-align: center;">2</td>
        <td class="col-1"  style="text-align: center;">2</td>
        <td class="col-3"  style="text-align: center;">
          <p style="margin-bottom: 0">8 months, 1 week ago</p>
        <p> <a  style="color: unset;" href=""><span><img style="display: inline-block;padding-bottom: 3px;padding-right: 3px;"
                src="https://secure.gravatar.com/avatar/109b2e55020d62f76560742a17a51410?s=14&d=mm&r=g"
                alt=""></span><span>Admin HR</span></a></p>
      </td>
      </tr>
      <tr class="d-flex" >
        <td class="col-5" >
          <p style="margin-bottom: 0;">AI trong Hospitality</p>
          <p >Started by: <a href="" style="color: unset;" ><span ><img style="display: inline-block;padding-bottom: 3px;padding-right: 3px;" src="https://secure.gravatar.com/avatar/109b2e55020d62f76560742a17a51410?s=14&d=mm&r=g" alt=""></span><span>Admin HR</span></a></p>
        </td>
        <td class="col-1" style="text-align: center;">2</td>
        <td class="col-1"  style="text-align: center;">2</td>
        <td class="col-3"  style="text-align: center;">
          <p style="margin-bottom: 0">8 months, 1 week ago</p>
        <p> <a  style="color: unset;" href=""><span><img style="display: inline-block;padding-bottom: 3px;padding-right: 3px;"
                src="https://secure.gravatar.com/avatar/109b2e55020d62f76560742a17a51410?s=14&d=mm&r=g"
                alt=""></span><span>Admin HR</span></a></p>
      </td>
      </tr>
      <tr class="d-flex" >
        <td class="col-5" id="one">
          <p style="margin-bottom: 0;">Blockchain</p>
          <p >Started by: <a href="" style="color: unset;" ><span ><img style="display: inline-block;padding-bottom: 3px;padding-right: 3px;" src="https://secure.gravatar.com/avatar/109b2e55020d62f76560742a17a51410?s=14&d=mm&r=g" alt=""></span><span>Selena.ltht</span></a></p>
        </td>
        <td class="col-1" style="text-align: center;">2</td>
        <td class="col-1"  style="text-align: center;">2</td>
        <td class="col-3"  style="text-align: center;">
          <p style="margin-bottom: 0">8 months, 1 week ago</p>
        <p> <a  style="color: unset;" href=""><span><img style="display: inline-block;padding-bottom: 3px;padding-right: 3px;"
                src="https://secure.gravatar.com/avatar/109b2e55020d62f76560742a17a51410?s=14&d=mm&r=g"
                alt=""></span><span>Admin HR</span></a></p>
      </td>
      </tr>
      <tr class="d-flex" >
        <td class="col-5" >
          <p style="margin-bottom: 0;">AI trong Hospitality</p>
          <p >Started by: <a href="" style="color: unset;" ><span ><img style="display: inline-block;padding-bottom: 3px;padding-right: 3px;" src="https://secure.gravatar.com/avatar/109b2e55020d62f76560742a17a51410?s=14&d=mm&r=g" alt=""></span><span>Admin HR</span></a></p>
        </td>
        <td class="col-1" style="text-align: center;">2</td>
        <td class="col-1"  style="text-align: center;">2</td>
        <td class="col-3"  style="text-align: center;">
          <p style="margin-bottom: 0">8 months, 1 week ago</p>
        <p> <a  style="color: unset;" href=""><span><img style="display: inline-block;padding-bottom: 3px;padding-right: 3px;"
                src="https://secure.gravatar.com/avatar/109b2e55020d62f76560742a17a51410?s=14&d=mm&r=g"
                alt=""></span><span>Admin HR</span></a></p>
      </td>
      </tr>
      <tr class="d-flex" >
        <td class="col-5" id="one">
          <p style="margin-bottom: 0;">Blockchain</p>
          <p >Started by: <a href="" style="color: unset;" ><span ><img style="display: inline-block;padding-bottom: 3px;padding-right: 3px;" src="https://secure.gravatar.com/avatar/109b2e55020d62f76560742a17a51410?s=14&d=mm&r=g" alt=""></span><span>Selena.ltht</span></a></p>
        </td>
        <td class="col-1" style="text-align: center;">2</td>
        <td class="col-1"  style="text-align: center;">2</td>
        <td class="col-3"  style="text-align: center;">
          <p style="margin-bottom: 0">8 months, 1 week ago</p>
        <p> <a  style="color: unset;" href=""><span><img style="display: inline-block;padding-bottom: 3px;padding-right: 3px;"
                src="https://secure.gravatar.com/avatar/109b2e55020d62f76560742a17a51410?s=14&d=mm&r=g"
                alt=""></span><span>Admin HR</span></a></p>
      </td>
      </tr>
      <tr class="d-flex" >
        <td class="col-5" >
          <p style="margin-bottom: 0;">AI trong Hospitality</p>
          <p >Started by: <a href="" style="color: unset;" ><span ><img style="display: inline-block;padding-bottom: 3px;padding-right: 3px;" src="https://secure.gravatar.com/avatar/109b2e55020d62f76560742a17a51410?s=14&d=mm&r=g" alt=""></span><span>Admin HR</span></a></p>
        </td>
        <td class="col-1" style="text-align: center;">2</td>
        <td class="col-1"  style="text-align: center;">2</td>
        <td class="col-3"  style="text-align: center;">
          <p style="margin-bottom: 0">8 months, 1 week ago</p>
        <p> <a  style="color: unset;" href=""><span><img style="display: inline-block;padding-bottom: 3px;padding-right: 3px;"
                src="https://secure.gravatar.com/avatar/109b2e55020d62f76560742a17a51410?s=14&d=mm&r=g"
                alt=""></span><span>Admin HR</span></a></p>
      </td>
      </tr>
    </tbody>
  </table>
            <%- include('../partials/footer'); %>

</body>

</html>