<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/hospitality.css">
</head>

<body>
  <%- include('../partials/navigation'); %>
  <section class="consumer_header">
    <div class="consumer_header-title">
      <p class="white_so">
        <a href="" style="text-decoration: none;" class="white black_bit">Home</a>
        <span> / </span>
        Consumer Lending & Mortgage
      </p>
    </div>
  </section>
  <section class="content_body">

    <div class="consumer_intro">
      <h1 class="consumer_title_h1">Sentiment Driven Automated Trading System</h1>
      <h5 style="font-size: 20px;margin-bottom: 10px;">Get a deeper insight into your financial decision.

      </h5>
      <p>Create the trading system that is flexible, powerful and includes the ability of self-learning.

      </p>
      <a href="">Request A Demo</a>
    </div>

    <div class="consumer_content_details">
      <div class="row_1">
        <div id="row_1_img" class="row_1_img_hidden"> <img width="100%" height="100%"
            src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/trading_001.jpg"
            alt="">
        </div>

        <div class="row_1-right" id="row_1">
          <h2 style="margin-bottom: 25px;font: normal 24px 'Manjari',
  Helvetca,
  Arial,
  sans-serif;">Revenue Management</h2>
          <ul style="list-style: none;">
            <li style="padding-bottom: 15px;">Based on that, you can make the right pricing strategy, well-prepared
              Feeding our forecasting algorithms with high-level
              trending techniques, we confidently bring you the highest accuracy you ever reach before, and we believe
              it will benefit
              your business far beyond your imagination, from the pricing strategy to the cost-effective plans in your
              operation
              management.</li>
            <li>Besides that, you will love our feature: Multiple Revenue-Generating Factors Detection, which helps you
              to make the best
              plan for your revenue strategy.</li>
          </ul>
        </div>

      </div>

    </div>

    <div class="consumer_content_details">
      <div class="row_1">
        <div class="row_1-right" id="row_2">
          <h2 style="margin-bottom:25px;font: normal 24px 'Manjari',
  Helvetca,
  Arial,
  sans-serif;">Labor Management</h2>
          <ul style="list-style: none;">
            <li style="padding-bottom: 15px;">Centralize and streamline your labor cost management job with the lesser
              your effort but better your staff productivity
              performance.</li>
            <li>The function completely supports operation managers in order to achieve the cost target. Estimating
              workload demand will
              be done automatically for a specific day in the future, then the actionable decisions will be suggested
              based on your
              financial targets.
            </li>
          </ul>
        </div>
        <div id="row_1_img_2" class="row_1_img_hidden"> <img width="100%" height="100%"
            src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/trading_002.jpg"
            alt="">
        </div>
      </div>
    </div>
    <div class="consumer_content_details">
      <div class="row_1">
        <div id="row_1_img_3" class="row_1_img_hidden"> <img width="100%" height="100%"
            src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/trading_003.jpg"
            alt="">
        </div>
        <div class="row_1-right" id="row_3">
          <h2 style="margin-bottom: 25px;font: normal 24px 'Manjari',
        Helvetca,
        Arial,
        sans-serif;">Food Cost Management</h2>
          <ul style="list-style: none;">
            <li style="padding-bottom: 15px;">There is no doubt that food cost control is a significant priority for any
              food and beverage operation. By using
              cost-control technology, F&B managers can achieve the food cost target with minimal effort.</li>
            <li>The system provides real-time monitoring and automatic recommendation in action with respect to
              fluctuate daily demand.
              Our use cases shows that food cost has dropped more than 300,000$ after 12 months implementation.</li>
          </ul>
        </div>

      </div>

    </div>

    <div class="consumer_content_details">
      <div class="row_1">
        <div class="row_1-right" id="row_4">
          <h2 style="margin-bottom:25px;font: normal 24px 'Manjari',
      Helvetca,
      Arial,
      sans-serif;">Hotel Quality Management</h2>
          <ul style="list-style: disc;">
            <li style="padding-bottom: 15px; list-style: none;">Leverage data from OTA reviews and hotel available data,
              this function identifies the hotel’s issues and provides
              actions based on what-if scenarios analysis to manage Guest Experiences, Hotel Quality & Reputation.</li>

          </ul>
        </div>
        <div id="row_1_img_4" class="row_1_img_hidden"> <img width="100%" height="100%"
            src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/hospitality_001.jpg"
            alt="">
        </div>
      </div>
    </div>
    </div>
  </section>
  <%- include('../partials/footer'); %>
</body>
<script src="/js/consumer_lending.js"></script>

</html>