<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/tri_tue.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <%- include('../partials/navigation'); %>

  <div class="container_header_blog">
    <div class="container-title">
      <h1 style="margin:0px">QT blogs</h1>
      <p class="">
        <span>
          <a href="#">
            <span>
              Home
            </span>
          </a>
          <span>
            /
          </span>
        </span>
        <span>
          <a href="#">
            <span>
              Uncategorized
            </span>
          </a>
          <span>
            /
          </span>
        </span>
        Trí tuệ nhân tạo trong quản trị nguồn nhân lực
      </p>
    </div>
  </div>
  <section class="content">
    <section class="content_left">
      <article class="post">
        <h1 style="font-size: 34px; margin-bottom: 20px;">Trí tuệ nhân tạo trong quản trị nguồn nhân lực.</h1>
        <p>
          <span style="color: rgb(199, 198, 198);">February 14, 2020</span>
          <span>/ </span>
          <span>Admin HR </span>
          <span>/ </span>
          <span>
            Uncategorized
          </span>
          <span>/ </span>
          <span>3 comments</span>
        </p>
        <p>Trí tuệ nhân tạo đang đưa con người và máy móc lại gần nhau hơn. Thật thú vị! Ảnh hưởng của AI đang được cảm
          nhận trong
          toàn bộ lĩnh vực nhân sự, được sử dụng để tự động hóa các quy trình kinh doanh, nâng cao hiệu quả và giảm sự
          thiên vị .
          Trên thực tế, dự báo mới nhất về tác động AI của McKinsey là nó sẽ tạo ra 13 nghìn tỷ đô la hoạt động kinh tế
          trên toàn
          cầu vào năm 2030.</p>
        <p>Một cuộc khảo sát gần đây từ Pricewaterhouse Cooper cho thấy 72% giám đốc điều hành tin rằng AI sẽ mang lại
          lợi
          thế kinh
          doanh lớn trong tương lai gần. Trong một khảo sát khác từ IBM, 66% CEO tin rằng AI có thể mang lại giá trị
          quan
          trọng
          trong nhân sự.</p>
        <p><strong>Về tình hình của AI trong quản trị nguồn nhân lực</strong></p>
        <h3>AI là một công cụ</h3>
        <p>Việc đưa trí tuệ nhân tạo trở thành một công cụ làm việc chuyên nghiệp cho con người không còn là chuyện đáng
          ngạc
          nhiên. Không nói đâu xa, ngay ở Siri của Apple hay Echo của Amazon, con người đang sử dụng trí thông minh nhân
          tạo tại
          nhà trong cuộc sống hàng ngày của họ.</p>
        <p>Trong hầu hết các cài đặt chuyên nghiệp, AI không chỉ được yêu cầu phải thực hiện các nhiệm vụ đơn giản như
          trả
          lời các
          câu hỏi về thời tiết hoặc bật đèn. Thay vào đó, AI được yêu cầu làm nhiều hơn thế.</p>
        <h3 class="blackWord">GIẢM XU HƯỚNG THIÊN VỊ:</h3>
        Con người vốn dĩ thiên vị. Ngay cả khi phấn đấu cho sự toàn diện, các nhà tuyển dụng có thể vô thức nghiêng về
        một
        ứng
        cử viên cụ thể, chẳng hạn như đó có thể là một người có khả năng giống với nhà tuyển dụng hơn. Cùng với đó là
        những xu
        hướng thiên vị tiềm tàng khác , thiên vị ngôn ngữ, từ trong tiềm thức con người vẫn thầm tạo ra những sở thích
        thiên vị
        cụ thể.
        <p>Giờ đây, nhờ có AI, các thuật toán có thể được thiết kế để giúp nhà tuyển dụng xác định và loại bỏ những
          thành
          kiến
          ​​này. Điều đó giúp cho truyền thông tuyển dụng tốt hơn và thu hút nhóm ứng cử viên đa dạng hơn. Những thuật
          toán tương
          tự cũng có thể giúp tìm thấy các ứng cử viên sáng giá có thể đã bị sàng lọc do sự thiên vị của con người. Đặt
          nó
          trong
          bối cảnh, AI cho phép các nhà quản lý vượt ra ngoài cảm xúc và đánh giá khách quan dựa vào cơ sở dữ liệu.</p>
        <p><strong>Tự động hoá AI</strong></p>
        <p>AI đang được sử dụng trong nguồn nhân lực để tự động hóa các nhiệm vụ lặp đi lặp lại, có giá trị thấp, do đó
          làm tăng sự
          tập trung vào các công việc chiến lược hơn. Các công cụ tự động hóa AI giải quyết các nhiệm vụ nhân sự phổ
          biến
          như quản
          lý lợi ích, xử lý các câu hỏi hoặc yêu cầu chung.</p>
        <p><strong>Tuyển dụng thông qua AI
          </strong></p>
        <p>Các công ty đã triển khai các “nhà tuyển dụng AI”, để tự động hóa các cuộc phỏng vấn theo lịch trình, cung
          cấp
          phản hồi
          liên tục cho các ứng viên và trả lời câu hỏi của họ trong thời gian thực.</p>
        <p><strong>Giữ chân nhân viên</strong></p>
        <p>Một số công ty đang sử dụng nền tảng AI để chọn ra những nhân viên có thể đang có xu hướng rời đi. Những nền
          tảng này
          theo dõi hoạt động máy tính của nhân viên, email, tổ hợp phím, duyệt internet ..v..v và lưu trữ nó. Sau đó, AI
          phân tích
          dữ liệu để xác định các hoạt động bình thường trong tổ chức. Dựa trên kiến ​​thức đó, các ngoại lệ được gắn cờ
          và báo
          cáo cho nhà tuyển dụng. AI cũng đang được sử dụng để phát hiện những thay đổi chung trong cộng đồng nhân viên
          để
          dự đoán
          khi nào nhân viên có thể nghĩ đến việc rời đi.</p>
        <h3>AI làm cho nhân sự trở nên nhân văn hơn</h3>
        <p>Tại một số thời điểm trong sự nghiệp của một nhà tuyển dụng, câu hỏi được đặt ra: làm thế nào để quản trị
          nguồn
          nhân lực
          có thể trở nên nhân văn hơn? Có ít nhất một công ty tin rằng nó có câu trả lời. Best Buy Canada cho biết đó là
          thêm
          nhiều máy móc. Chris Taylor- giám đốc nhân sự của Best Buy Canada, ông đã ghi nhận rằng việc nắm bắt trí tuệ
          nhân tạo và
          các ứng dụng học máy trong quản lý nguồn lực là” một khoản đầu tư bắt buộc trong tương lai.”</p>
        <p>Tại sao thêm nhiều máy móc lại trở nên nhân văn hơn?
        </p>
        <p>Việc tự động hóa các nhiệm vụ thông qua công nghệ AI cho phép các chuyên gia nhân sự tập trung vào các khả
          năng
          độc đáo
          của con người như tư duy phê bình, sáng tạo và đồng cảm.</p>
        <p>Như vậy, bằng nhiều cách khác nhau, trí tuệ nhân tạo vẫn đang phát triển và tự hoàn thiện
        </p>
        <p>Điều đó có nghĩa là gì? AI có thể tìm kiếm truy vấn dựa trên các từ bạn đang sử dụng và cung cấp cho bạn phản
          hồi, nhưng
          phản hồi đó không theo ngữ cảnh.
        </p>
        <p>AI đang đi theo hướng đó mặc dù.
        </p>
        <p>Thay vì viết phản hồi cụ thể cho các đầu vào cụ thể, bạn chỉ cần có một cơ sở dữ liệu ngôn ngữ khổng lồ xung
          quanh một
          miền kiến ​​thức cụ thể và AI có thể đi vào miền kiến ​​thức đó và trả lời các câu hỏi từ người dùng.
        </p>
        <p>Các chuyên gia nhân sự quan tâm đến việc theo đuổi AI muốn nó làm được nhiều việc hơn là trả lời các câu hỏi
          và
          tìm kiếm
          thông qua các ứng dụng. Họ muốn sử dụng nó như một nền tảng học tập.
        </p>
        <p>Nhưng nó vẫn chưa đạt tới được.
        </p>
        <p>AI có thể tự dạy mình làm một cái gì đó, nhưng chưa phải tới giai đoạn nó có thể thay thế con người như là ”
          sự
          dẫn dắt
          trong giáo dục”. Trong tương lai, AI có thể được sử dụng theo cách đó, nhưng nó sẽ đòi hỏi rất nhiều khả năng
          thích ứng.
        </p>
        <p>Taylor cho biết Best Buy Canada đang nắm lấy nhiều công nghệ nhất có thể. Chẳng hạn, công ty đã bắt đầu đầu
          tư
          vào giải
          pháp dựa trên đám mây sử dụng trí tuệ nhân tạo, công nghệ giọng nói và học máy. Tất cả những công nghệ này,
          Best
          Buy
          Canada hy vọng, sẽ giúp trải nghiệm của nhân viên tốt hơn.
        </p>
        <h3>Kết luận
        </h3>
        <p>Càng nhiều công nghệ nhân sự tiếp tục bị phá vỡ bởi AI, các đội ngũ nhân sự phải tìm cách cân bằng những tiến
          bộ này với
          tính minh bạch, dễ hiểu. Đó là điều cần thiết để đảm bảo việc triển khai công nghệ AI thành công. Tóm lại, trí
          tuệ nhân
          tạo không phải là câu trả lời cuối cùng cho mọi khó khăn mà bộ phận nhân sự gặp phải. Nó là một công cụ và
          không
          có gì
          hơn thế nữa. Một công cụ có thể hoạt động không đúng dựa trên dữ liệu mà nó được cung cấp để hoạt động hiệu
          quả.
          Mặc dù
          vậy, trí tuệ nhân tạo là một nguồn tài nguyên quý giá. Hãy làm để nắm lấy nó ngay bây giờ vì có thể bạn sẽ
          mong
          đợi sở
          hữu chúng trong tương lai.
        </p>
        <p><strong>Cre: Mason Stevenson 09/11/2019
          </strong></p>
        <p ><a>https://www.hrexchangenetwork.com/hr-tech/articles/ai-in-hr
        </a></p>
      </article>
      <ul class="social">
        <li>
          <span>
            <i class="fa fa-facebook" style="font-size:16px;color: white;"></i>
          </span>
        </li>
        <li>
          <span>
            <i class="fa fa-twitter" style="font-size:16px;color: white;"></i>
          </span>
        </li>
        <li>
          <span>
            <i class="fa fa-google" style="font-size:16px;color: white;"></i>
          </span>
        </li>
        <li>
          <span>
            <i class="fa fa-pinterest" style="font-size:16px;color: white;"></i>
          </span>
        </li>
      </ul>
      <section class="post-author">
        <img src="https://secure.gravatar.com/avatar/109b2e55020d62f76560742a17a51410?s=180&d=mm&r=g" alt="avatar"
          height="90px" width="90px">
        <h3 style="display: inline;">Author: Admin HR</h3>
      </section>
      <section class="related">
        <h3 class="blackWord">RELATED POSTS</h3>
        <div class="posts">
          <article class="item">
            <a>
              <div><img
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2020/02/blog-State-of-AI-in-HR_1.jpg"
                  alt="Avata"></div>
            </a>
            <h3>Overview of blockchain and bitcoin (Part 4)</h3>
          </article>
          <article class="item">
            <a>
              <div><img
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-4-560x356.jpg"
                  alt="Avata"></div>
            </a>
            <h3>Overview of blockchain and bitcoin (Part 4)</h3>
          </article>
          <article class="item">
            <a>
              <div><img
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-3-560x356.jpg">
              </div>
            </a>
            <h3>Overview of blockchain and bitcoin (Part 4)</h3>
          </article>
        </div>
      </section>
      <div class="container-comments">
        <section class="comments">
          <h3 class="blackWord" style="margin-bottom: 30px;">3 COMMENTS</h3>
          <ul class="commentList">
            <li class="comment">
              <img src="https://secure.gravatar.com/avatar/cb47e9ec17988e95d0dab9f7345df064?s=100&d=mm&r=g" alt="">
              <div>
                <p class="author link_orange" style="margin-top: 0;"><a>AffiliateLabz</a>
                  <span>/ </span><span>February 16, 2020 12:58 am<span>/ </span><span>Rely</span></p>
                <p class="content-body" >
                  Great content! Super high-quality! Keep it up!
                </p>
              </div>
            </li>
            <li class="comment">
              <img src="https://secure.gravatar.com/avatar/cb47e9ec17988e95d0dab9f7345df064?s=100&d=mm&r=g" alt="">
              <div>
                <p class="author link_orange" style="margin-top: 0;"><a>AffiliateLabz</a>
                  <span>/ </span><span>February 16, 2020 12:58 am<span>/ </span><span>Rely</span></p>
                <p class="content-body">
                  Great content! Super high-quality! Keep it up!
                </p>
              </div>
            </li>
            <li class="comment">
              <img src="https://secure.gravatar.com/avatar/cb47e9ec17988e95d0dab9f7345df064?s=100&d=mm&r=g" alt="">
              <div>
                <p class="author link_orange" style="margin-top: 0;"><a>AffiliateLabz</a>
                  <span>/ </span><span>February 16, 2020 12:58 am<span>/ </span><span>Rely</span></p>
                <p class="content-body">
                  Great content! Super high-quality! Keep it up!
                </p>
              </div>
            </li>
          </ul>
        </section>
        <section class="comments-form">
          <div class="comment-respond">
            <h3 class="comment-title blackWord">LEAVE A REPLY
            </h3>
          </div>
          <form class="form-comment" method="POST">
            <p class="blackWord">Your email address will not be published.
            </p>
            <label class="block" for="comment"><strong>Comment</strong></label>
            <textarea class="block mg_bottom_15" name="comment" id="comment" rows="8" cols="50" spellcheck="false"></textarea>
            <ul>
              <li><label for="author" class="block mg_bottom_15">Name<span class="red"> *</span></label>
                <input id="author" name="author" required type="text">
              </li>
              <li><label for="email" class="block mg_bottom_15">Email<span class="red"> *</span></label>
                <input id="email" name="email" required type="text">
              </li>
              <li><label for="url" class="block mg_bottom_15">Website</label>
                <input id="url" name="url" required type="text">
              </li>             
            </ul>
              <br>
              <label for="checkbox">Save my name, email, and website in this browser for the next time I comment. </label> <input type="checkbox" id="checkbox" name="checkbox">
              <br>          
              <br>          
              <input type="submit" value="Post Comment" id="submit_form" >
          </form>

        </section>
      </div>
    </section>
    <section class="content_right">
      <aside>
        <div class="input">
          <input placeholder="Search" type="text">
          <i class="fa fa-search" aria-hidden="true"></i>
          <br>
          <br>
        </div>
        <section class="container_recent_post">
          <h3>RECENT POSTS</h3>
          <ul class="recent_posts" style="list-style: none;">
            <li><a>Trí tuệ nhân tạo trong quản trị nguồn nhân lực.</a></li>
            <li><a>Trí tuệ nhân tạo trong quản trị nguồn nhân lực.</a></li>
            <li><a>Trí tuệ nhân tạo trong quản trị nguồn nhân lực.</a></li>
            <li><a>Trí tuệ nhân tạo trong quản trị nguồn nhân lực.</a></li>
            <li><a>Trí tuệ nhân tạo trong quản trị nguồn nhân lực.</a></li>
          </ul>
        </section>
        <section class="container_recent_comments">
          <h3>RECENT COMMENTS</h3>
          <ul class="recent_comments">
            <li><a>Justin Hamilton</a><span> on </span><a>Trí tuệ nhân tạo trong quản trị nguồn nhân lực.</a></li>
            <li><a>Justin Hamilton</a><span> on </span><a>Trí tuệ nhân tạo trong quản trị nguồn nhân lực.</a></li>
            <li><a>Justin Hamilton</a><span> on </span><a>Trí tuệ nhân tạo trong quản trị nguồn nhân lực.</a></li>
            <li><a>Justin Hamilton</a><span> on </span><a>Trí tuệ nhân tạo trong quản trị nguồn nhân lực.</a></li>
            <li><a>Justin Hamilton</a><span> on </span><a>Trí tuệ nhân tạo trong quản trị nguồn nhân lực.</a></li>
          </ul>
        </section>
        <section class="archives">
          <h3>ARCHIVES</h3>
          <ul class="list_archives">
            <li><a>September 2019</a></li>
            <li><a>September 2019</a></li>
            <li><a>September 2019</a></li>
          </ul>
        </section>
        <section class="archives">
          <h3>CATEGORIES</h3>
          <ul class="list_archives">
            <li><a>September 2019</a></li>
            <li><a>September 2019</a></li>
            <li><a>September 2019</a></li>
          </ul>
        </section>
        <section class="archives">
          <h3>META</h3>
          <ul class="list_archives">
            <li><a>September 2019</a></li>
            <li><a>September 2019</a></li>
            <li><a>September 2019</a></li>
          </ul>
        </section>
        <section class="archives">
          <h3>CATEGORIES</h3>
          <ul class="list_archives">
            <li><a>September 2019</a></li>
            <li><a>September 2019</a></li>
            <li><a>September 2019</a></li>
          </ul>
        </section>
        <section class="recent_post_2" style="margin-top: 40px;">
          <h3>RECENT POSTS </h3>
          <ul style="list-style: none;">
            <li>
              <a>
                <img width="50px" height="50px"
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2020/02/blog-State-of-AI-in-HR_1-78x78.jpg">
              </a>
              <p><a style="width:auto;display: block;">Overview of blockchain and bitcoin (Part 4)</a>
                <span style="display: block;">September 8, 2019</span></p>
    
    
            </li>
            <li>
              <a>
                <img width="50px" height="50px"
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2020/02/blog-State-of-AI-in-HR_1-78x78.jpg">
              </a>
              <p><a style="width:auto;display: block;">Overview of blockchain and bitcoin (Part 4)</a>
                <span style="display: block;">September 8, 2019</span></p>
    
    
            </li>
            <li>
              <a>
                <img width="50px" height="50px"
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2020/02/blog-State-of-AI-in-HR_1-78x78.jpg">
              </a>
              <p><a style="width:auto;display: block;">Overview of blockchain and bitcoin (Part 4)</a>
                <span style="display: block;">September 8, 2019</span></p>
    
    
            </li>
    
          </ul>
        </section>
        <section class="about_us">
          <h3>ABOUT US</h3>
          <p>
            Converio is a clean and clear multipurpose responsive WordPress theme. With Converio WordPress theme you can
            build
            beautiful and modern sites to promote any business or service fast and easily.
    
          </p>
          <p>
            <a class="link_orange">Get Converio</a> WordPress theme now to start building your awesome site.
          </p>
        </section>
        <section class="works_stream">
          <ul style="list-style: none;">
            <li><a><img width="78px" height="78px"
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-4-78x78.jpg"></a>
            </li>
            <li><a><img width="78px" height="78px"
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-3-78x78.jpg"></a>
            </li>
            <li><a><img width="78px" height="78px"
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-2-78x78.jpg"></a>
            </li>
            <li><a><img width="78px" height="78px"
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/08/blog-Overview-of-blockchain-and-bitcoin-Part-1-78x78.jpg"></a>
            </li>
          </ul>
          <a>VIEW ALL</a>
        </section>
        <section class="twitter">
          <h3><span><i style="line-height: 10px;color: rgb(204, 202, 202);" class="fa fa-twitter"></i></span>TWITTER
          </h3>
    
          <ul>
            <li>
              <p>
                The most conversion optimized WordPress theme in the industry has released. Check out this great
                #themeforest item:
              </p>
              <a href="#" class="link_orange">http://t.co/DdmcRdPHF3</a>
              <span style="display: block;"><a>6 years ago </a></span>
            </li>
            <li style="margin-top: 20px;">
              <p>
                The most conversion optimized WordPress theme in the industry has released. Check out this great
                #themeforest item:
              </p>
              <a href="#" class="link_orange">http://t.co/DdmcRdPHF3</a>
              <span style="display: block;"><a>6 years ago </a></span>
            </li>
    
          </ul>
    
        </section>
        <section class="pinterest">
          <h3 style="color: rgb(204, 202, 202)"><span><i class="fa fa-pinterest"
                style="font-size:18px;color: rgb(204, 202, 202);"></i> </span> PINTEREST</h3>
          <ul style="list-style: none;">
            <li><a><img width="78px" height="78px"
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-4-78x78.jpg"></a>
            </li>
            <li><a><img width="78px" height="78px"
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-3-78x78.jpg"></a>
            </li>
            <li><a><img width="78px" height="78px"
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-2-78x78.jpg"></a>
            </li>
            <li><a><img width="78px" height="78px"
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/08/blog-Overview-of-blockchain-and-bitcoin-Part-1-78x78.jpg"></a>
            </li>
            <li><a><img width="78px" height="78px"
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/08/blog-Overview-of-blockchain-and-bitcoin-Part-1-78x78.jpg"></a>
            </li>
            <li><a><img width="78px" height="78px"
                  src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/08/blog-Overview-of-blockchain-and-bitcoin-Part-1-78x78.jpg"></a>
            </li>
          </ul>
          <a>FOLLOW OUR PINTEREST BOARDS</a>
        </section>
        <section class="calendar">
          <h3>CALENDAR</h3>
          <p>September 2020</p>
          <img src="../images/qt-blog/CALENDAR.PNG">
        </section>
        <section class="search" style="margin-top: 43px;">
          <span style="display: block;">SEARCH</span>
          <br>
          <div class="input" style="margin-top: 30px;">
            <input placeholder="Search" type="text">
            <i class="fa fa-search" aria-hidden="true"></i>
            <br>
            <br>
          </div>
        </section>
        <section class="archive_2">
          <span>ARCHIVE</span>
          <select name="cars" id="cars" style="width: 100%;padding: 3px 5px;">
            <option value="Select Month">Select Month</option>
            <option value="February 2020">February 2020</option>
            <option value="September 2019">September 2019</option>
            <option value="August 2019">August 2019</option>
          </select>
        </section>
        <section class="container-tags">
          <span style="display: block; margin-bottom: 15px;">TAGS</span>
          <div class="tags">
            <a>AI</a>
            <a>Artificial Intelligence</a>
            <a>HR</a>
            <a>Human Resource</a>
            <a>Machine Learning</a>
          </div>
        </section>
        <section class="recent_cmt_default">
          <span>RECENT COMMENTS DEFAULT</span>
          <ul class="recent_comments">
            <li><a>Justin Hamilton</a><span> on </span><a>Trí tuệ nhân tạo trong quản trị nguồn nhân lực.</a></li>
            <li><a>Justin Hamilton</a><span> on </span><a>Trí tuệ nhân tạo trong quản trị nguồn nhân lực.</a></li>
            <li><a>Justin Hamilton</a><span> on </span><a>Trí tuệ nhân tạo trong quản trị nguồn nhân lực.</a></li>
          </ul>
        </section>
        <section class="recent_comments_custom">
          <span>RECENT COMMENTS (CUSTOM)</span>
          <ul>
            <li>
              <img src="https://secure.gravatar.com/avatar/8c75eba721909a03b06df864961504eb?s=50&d=mm&r=g">
              <p><span>Carri </span>on
                <a>State of AI in HR</a>
              </p>
              <p>Hi there! I know this is kinda off topic but...</p>
            </li>
            <li>
              <img src="https://secure.gravatar.com/avatar/8c75eba721909a03b06df864961504eb?s=50&d=mm&r=g">
              <p><span>Carri </span>on
                <a>State of AI in HR</a>
              </p>
              <p>Hi there! I know this is kinda off topic but...</p>
            </li>
            <li>
              <img src="https://secure.gravatar.com/avatar/8c75eba721909a03b06df864961504eb?s=50&d=mm&r=g">
              <p><span>Carri </span>on
                <a>State of AI in HR</a>
              </p>
              <p>Hi there! I know this is kinda off topic but...</p>
            </li>
          </ul>
        </section>
        <div class="my-accordion">
          <span style="margin-bottom: 20px;">ACCORDION</span>
          <div class="accordion-item">
            <div class="accordion-item-header">
              Accordion item
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellen tesque diam sem, hendrerit ut faucibus
                sit amet,
                bibendum vel lacus. Nunc molestie magna sed sapien ornare tempus. Curabitur venenatis ipsum nec ligula.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-item-header">
              Suspendisse lobortis
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellen tesque diam sem, hendrerit ut faucibus
                sit amet,
                bibendum vel lacus. Nunc molestie magna sed sapien ornare tempus. Curabitur venenatis ipsum nec ligula.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-item-header">
              Donec sed arcu a justo
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellen tesque diam sem, hendrerit ut faucibus
                sit amet,
                bibendum vel lacus. Nunc molestie magna sed sapien ornare tempus. Curabitur venenatis ipsum nec ligula.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-item-header">
              Accordion item
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
                HTTP, aka HyperText Transfer Protocol, is the underlying protocol used by the World Wide Web and this
                protocol defines how messages are formatted and transmitted, and what actions Web servers and browsers
                should take in response to various commands.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-item-header">
              What is CORS?
            </div>
            <div class="accordion-item-body">
              <div class="accordion-item-body-content">
                CORS, aka Cross-Origin Resource Sharing, is a mechanism that enables many resources (e.g. images,
                stylesheets, scripts, fonts) on a web page to be requested from another domain outside the domain from
                which the resource originated.
              </div>
            </div>
          </div>
        </div>
        <div class="tabContainer">
          <div class="buttonContainer">
            <button onclick="showPanel(0,'#f28728')"><i class="fa fa-heart"></i></button>
            <button onclick="showPanel(1,'#f28728')"><i class="fa fa-map-marker"></i></button>
            <button onclick="showPanel(2,'#f28728')">Tab</button>
    
          </div>
          <div class="tabPanel">Aliquam erat volutpat. Pellentesque varius varius elit ac consectetur. Nunc varius, diam ut
            malesuada aliquam, odio ante
            faucibus erat, nec semper mauris arcu id turpis. Nulla at tincidunt arcu.</div>
          <div class="tabPanel">Aliquam erat volutpat. Pellentesque varius varius elit ac consectetur. Nunc varius, diam ut
            malesuada aliquam, odio ante
            faucibus erat, nec semper mauris arcu id turpis. Nulla at tincidunt arcu.</div>
          <div class="tabPanel">Sed suscipit, metus ac fermentum condimentum, justo lectus vehicula eros, sed accumsan mi
            risus ut velit. Donec
            sollicitudin lacus vitae mauris mattis tempor.</div>
    
        </div>
      </aside>
    </section>
  </section>
          <%- include('../partials/footer'); %>

</body>
<script src="/js/accordion.son.js"></script>
<script src="/js/tabContent.js"></script>
</html>
